/* e:\Documents\restaurantmenu_rinu\src\components\MenuItem.css */
.menu-item-card {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.menu-item-name {
  color: #333;
  margin-top: 0;
  margin-bottom: 8px;
}

.menu-item-category {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 5px;
}

.menu-item-description {
  font-size: 0.95em;
  color: #555;
  line-height: 1.4;
  flex-grow: 1; /* Allows description to take available space */
  margin-bottom: 10px;
}

.menu-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.menu-item-price {
  font-weight: bold;
  color: #d35400; /* Rich Orange Accent */
  font-size: 1.1em;
}

.vegetarian-badge {
  background-color: #e8f5e9; /* Lighter green background */
  color: #2e7d32; /* Darker green text */
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8em;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.non-vegetarian-badge {
  background-color: #e8f5e9; /* Lighter green background */
  color: #c90000; /* Darker green text */
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8em;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}
